<ng-container *ngIf="invoice_list.length > 0; else NoInvoice">
  <div class="container">
    <div class="container-header"></div>
    <div class="container-body">
      
      <div class="table">
        <div class="table-header">
          <h1>Danh sách hóa đơn</h1>
        </div>
        <table class="table table-content table-bordered table-hover">
          <thead>
            <tr>
              <th>STT</th>
              <th>Mã hóa đơn</th>
              <th>Ngày mua</th>
              <th>Khách hàng</th>
              <th>Tổng tiền(VNĐ)</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of invoice_list; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.ID }}</td>
              <td>{{ item.CreateDate | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
              <td>{{ item.CreateStaff }}</td>
              <td>{{ item.TotalMoney | number}} </td>
              <td>
              
                  <a href="" [routerLink]="['/invoice', item.ID]"
                  ><i class="fa-solid fa-circle-info"></i></a>
                
              </td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>

  <!-- <button class="btn btn-primary" (click)="get_invoice_detail_list()">
    get all details
  </button> -->
</ng-container>

<ng-template #NoInvoice>
  <div class="container">
    <div class="alert alert-danger">
      <h2>Chưa có hóa đơn nào được tạo !</h2>
    </div>
  </div>
</ng-template>
