<ng-container *ngIf="cartItem.length > 0; else EmptyCart" >
  <div class="container">
    <div class="container-header">
      
    </div>

      <div class="card-table">
        <div class="card-product">
          <table class="table table-hover table-content">
            <thead>
              <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Mô tả</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Tổng</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cartItem;let i = index">
                <td>{{i + 1}}</td>
                <td>{{item.name}}</td>
                <td> <img [src]="item.imgUrl" alt="img"></td>
                <td style="white-space:nowrap ; overflow:hidden;text-overflow:ellipsis;max-width:60ch;">{{item.description}}</td>
                <td style="width: 12%">
                  {{item.price | currency : 'USD'}}
                 </td>
                <td style="width: 12%">
                  <input type="number" class="qty" [value]=" item.quantity" (blur)="validateInput($event,i)" style="width:55%;text-align:center;"></td>
                <td style="width: 12%">{{ item.quantity * item.price | currency : 'USD' }}</td>
                <td>
                  <i class="fas fa-trash-alt" (click)="removeItem(item)"></i>
                </td>
              </tr>
              <tr>
                <td colspan="4">  </td>
                <td><button class="btn btn-danger" (click)="clear()">Xóa tất cả</button></td>
                <td><button class="btn btn-primary" routerLink="/products">Mua thêm</button></td>
                <td><button class="btn btn-success" (click)="checkOut()">Thanh toán</button></td>
              </tr>
               
            </tbody>
          </table>
        </div>
        <div class="invoice-info">
          <div class="invoice-total">
            <div class="total-item">
              <strong>Tổng: <span> {{totalProduct}} </span> sản phẩm </strong>
            </div>
            <div class="total-price">
              <strong>Tổng thanh toán: <span>{{totalPrice | currency : 'USD' }} </span>  </strong> 
            </div>
          </div>
          <div class="info-user">
            
         <div class="form-control">
          <header style="font-size:1.2rem; text-align: center; font-weight: 500;">
            Thông tin khách hàng
          </header>

          <label for="user-name">Họ tên: </label>
          <input type="text" class="form-control" name="user-name" placeholder="Vui lòng điền họ tên người nhận..." required>
        
          <label for="user-address">Địa chỉ: </label>
          <input type="text" class="form-control" name="user-address" placeholder="Vui lòng điền địa chỉ người nhận..." required>
        
          <label for="user-phone">Số điện thoại: </label>
          <input type="number" class="form-control" name="user-phone" placeholder="Vui lòng điền số điện thoại người nhận..." required>

          <label for="user-email">Email: </label>
          <input type="email" class="form-control" name="user-email" placeholder="Vui lòng điền email người nhận..." required>
        
        </div>
          </div>
         
        </div>
        
      </div>

  </div>

</ng-container>

<ng-template #EmptyCart>
  <div class="container">
    <div class="card">
      <h5 class="card-title">
          Giỏ hàng !
      </h5>
    </div>
    <div class="center">
      <img src="https://previews.123rf.com/images/chupakabrajk/chupakabrajk1811/chupakabrajk181101025/113542472-empty-shopping-cart-hand-drawn-sketch-shopping-cart-icon-.jpg" alt="Empty Cart">
      <h4>Giỏ hàng của bạn đang trống!</h4>
      <!-- <h6>Thêm sản phẩm mới ngay</h6> -->
      <button class="btn btn-primary" routerLink="/products">Mua ngay</button>
    </div>
  </div>
</ng-template>
