<ng-container *ngIf="cartItem.length > 0; else EmptyCart" >
  <div class="container">

      <div class="card-table">
        <div class="card-product">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Sr.No</th>
                <th>Product Name</th>
                <th>Product Image</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cartItem;let i = index">
                <td>{{i + 1}}</td>
                <td>{{item.name}}</td>
                <td> <img src="" alt="img"></td>
                <td style="width: 25%" >{{item.description}}</td>
                <td style="width: 12%">
                  {{item.price}}
                 </td>
                <td style="width: 12%">
                  <input type="number" class="qty" [value]=" item.quantity"></td>
                <td style="width: 12%">total</td>
                <td>
                  <i class="fas fa-trash-alt" (click)="removeItem(item)"></i>
                </td>
              </tr>
              <tr>
                <td colspan="4"> <strong>Grand Total:   </strong> </td>
                <td><button class="btn btn-danger" (click)="clear()">Remove All</button></td>
                <td><button class="btn btn-primary" routerLink="/products">Shop more</button></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

  </div>

</ng-container>

<ng-template #EmptyCart>
  <div class="container">
    <div class="card">
      <h5 class="card-title">
          My Cart!
      </h5>
    </div>
    <div class="center">
      <img src="https://previews.123rf.com/images/chupakabrajk/chupakabrajk1811/chupakabrajk181101025/113542472-empty-shopping-cart-hand-drawn-sketch-shopping-cart-icon-.jpg" alt="Empty Cart">
      <h4>Your cart is empty!</h4>
      <h6>Add item now</h6>
      <button class="btn btn-primary" routerLink="/products">Show now</button>
    </div>
  </div>
</ng-template>
