<section class="h-x" style="background-color: #cdc4f9;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">

        <div class="card shadow-0 border border-dark border-5 text-dark" style="border-radius: 10px;">
          <div class="card-body p-4">

            <div class="row text-center">
              <div class="text-center  border-5 border-dark py-4"
                style="margin-top: -1.5rem; margin-bottom: -1.5rem;">
                <div class="d-flex justify-content-around mt-3">
                  <p class="small">{{weathers.name}}</p>
                  <p class="small">{{today}}</p>
                  <p class="small">{{weathers.weather[0].main}}</p>
                </div>
                <div class="d-flex justify-content-around align-items-center py-5 my-4">
                  <p class="fw-bold mb-0" style="font-size: 7rem;" > {{weathers.main['temp'] -  273.15 | number:'1.0-1'}} °C</p>
                  <div class="text-start">
                    <p class="small">{{timenow}}</p>
                    <p class="h3 mb-3">{{day}}</p>
                    <p class="small mb-0">{{weathers.weather[0].description | titlecase}}</p>
                  </div>
                </div>

 
 
              
              </div>
              
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>