<div class="container">
  <!-- <div class="container-card">
    <button class="btn-add btn btn-success " routerLink="/new-product">
        Thêm sản phẩm mới
    </button>
  </div> -->
  <div class="row">
    <ng-container *ngFor="let i of productList">
      <div class="card col-md-3">
        <img [src]="i.imgUrl" alt="error img" [routerLink]="['/product-detail',i.id]">
        <h5 style="white-space:nowrap ; overflow:hidden;text-overflow:ellipsis;max-width:100ch;">{{i.name}}</h5>
        <p style="white-space:nowrap ; overflow:hidden;text-overflow:ellipsis;max-width:60ch;">{{i.description}}</p>
        <p>Price: {{i.price}} </p>
        <hr>
        <p class="chon_so_luong">Chọn số lượng mua:
          <button class="desc_number" (click)="giamsl()">-</button>
          <input type="number" [(ngModel)]="soluongchon" style="width : 25%">
          <button class="incr_number" (click)="tangsl()">+</button>
        </p>
        <button class="btn btn-primary" (click)="addtoCart(i)">Thêm vào giỏ</button>
      </div>
    </ng-container>

  </div>
</div>
