<div class="container">
  <div class="header">
    <button class="btn btn-success" style="margin-top:10px ;" routerLink="/new-product">Thêm mới <i class="fa-solid fa-plus"></i></button>
  </div>
  <table class="table table-content table-hover">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên sản phẩm</th>
        <th>Mô tả</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="product_list.length > 0">
      <ng-container *ngFor="let items of product_list; let i = index">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ items.name }}</td>
          <td>{{ items.description }}</td>
          <td>
            <a href="" [routerLink]="['/product-detail', items.id]"><i class="fa-solid fa-circle-info"></i></a>
          </td>
          <td>
            <a href="" [routerLink]="['/product-edit', items.id]"><i class="fa-solid fa-pen-to-square"></i></a>
          </td>
          <td><button id="btn_del" (click)="deleteItem(items.id)"><i class="fa-solid fa-trash"></i></button></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
