<div class="container">
  <div class="header">
    <button class="btn btn-success" style="margin-top:10px ;" routerLink="/new-product">Thêm mới <i class="fa-solid fa-plus"></i></button>
  </div>
  <table class="table table-content table-hover">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th colspan="3" style="text-align:center ;">Thao tác</th>
         
      </tr>
    </thead>
    <tbody *ngIf="product_list.length > 0">
      <ng-container *ngFor="let items of product_list; let i = index">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ items.ProdName }}</td>
          <td style="white-space:nowrap ; overflow:hidden;text-overflow:ellipsis;max-width:60ch;">{{items.Price}}</td>
          <td style="text-align: center;">
            <a href="" [routerLink]="['/product-detail', items.ID]"><i class="fa-solid fa-circle-info"></i></a>
          </td>
          <td style="text-align: center;">
            <a href="" [routerLink]="['/product-edit', items.ID]"><i class="fa-solid fa-pen-to-square"></i></a>
          </td>
          <td style="text-align: center;"><button id="btn_del" (click)="deleteItem(items.ID)"><i class="fa-solid fa-trash"></i></button></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
