<div class="container">
  <div class="table">
    <div class="table-head">
      
    </div>
    <div class="table-row">
      <table class="table table-content table-bordered" id="content">
        <thead>
          <tr>
            <th
              colspan="5"
              style="font-size: 35px; text-align: center; font-weight: 500"
            >
              Chi tiết hóa đơn có mã: <span> {{ invoice_id }} </span>
          </th>
          </tr>
          <tr>
            <th>STT</th>
            <th>Mã sản phẩm</th>
            <th>Giá(VNĐ)</th>
            <th>Số lượng</th>
            <th>Thành tiền(VNĐ)</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of invoice_detail_list_depend_on_id; let i = index"
          >
            <td>{{ i + 1 }}</td>
            <td>{{ item.ProdID}}</td>
            <td>{{ item.IntoMoney / item.Amount | number}}</td>
            <td>{{ item.Amount}}</td>
            <td>
              {{ item.IntoMoney | number }}
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" (click)="Print()">In hóa đơn</button>
    </div>
  </div>
</div>
